@CHARSET "UTF-8";

html {
  beight: 100%;
}

body {
  beight: 100%;
}

header {
  height: 100px;
  color: white;
  background: black;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  color: white;
  background: black;
}

h1 {
  font-size: 200%;
  margin: auto;
}

h1 span {
  font-size: 55%;
  display: block;
}

.inner {
  position: relative;
  width: 700px;
  margin: 0 auto;
}

header h1 {
  padding: 20px 20px;
}

footer small {
  position: absolute;
  right: 0;
  padding: 20px 20px;
}

