@CHARSET "UTF-8";

ul {
  padding: 0;
  list-style-type: none;
}

#img1Thumb {
  width: 80px;
  height: 80px;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;        /* CSS3草案 */
  -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
  -moz-border-radius: 10px;   /* Firefox用 */
  text-align: center;
  background: #6A5ACD;
}

#img1 {
  width: 400px;
  height: 400px;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;        /* CSS3草案 */
  -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
  -moz-border-radius: 10px;   /* Firefox用 */
  text-align: center;
  background: green;
}

#largeImg {
  display: none;
}

#cover {
  background: rgba(0, 0, 0, 0.5);
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}
