@CHARSET "UTF-8";

nav ul {
  padding: 0;
  list-style-type: none;
}

nav ul li {
  width: 160px;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;        /* CSS3草案 */
  -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
  -moz-border-radius: 10px;   /* Firefox用 */
  text-align: center;
}

nav ul li a {
  text-decoration: none;
}

li.off {
  background: #6A5ACD;
}

li.off a {
  color: white;
}

li.on {
  background: green;
}

li.on a {
  color: white;
  font-size: 20px;
}
